<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/APLogo-20-20.png" id="logo">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/img/linkedIn.png" id="linkedin"> </a>
            
                <a href=""><img src="../../../assets/img/gitHub.png" id="github"></a>
            
                <a href=""><img src="../../../assets/img/instagram.png" id="instagram"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()">Log In</button>
            </div>
        </div>
    </div>
</div>
