<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Migas de la Villa</h3>
                <p>Noviembre 2011 - Actualidad</p>
                <p>Tareas: Atención al cliente, atención telefónica y producción de alimentos.<br>
                    Referencias: Daniel Orlietti<br>
                    Contacto: 0354315611622</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>AEGIS Global Argentina Contact Center</h3>
                <p>Enero 2020 - Abril 2020</p>
                <p>Puesto: Representante de atención al cliente para Personal.</p>
            </li>
        </ul>
    </div>
</div>