<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Instituto Técnico y Orientado Paula Albarracin de Sarmiento (ITyOPAS)</h3>
                <p>2006 - 2011</p>
                <p>Nivel Secundario<br>
                Técnico de Nivel Medio en Construcciones</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Escuela Superior de Comercio Manuel Belgrano</h3>
                <p>2020 - Presente</p>
                <p>Pregrado<br>
                Analista Universitario de Sistemas Informáticos</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>#YoProgramo | Argentina Programa</h3>
                <p>2021 - 2022. Finalizado</p>
                <p>Programa Nacional<br>
                    FullStack Web Developer</p>
                </li>
        </ul>
    </div>
</div>